
.li-resource {
  display: inline-block; 
}


.li-resource {
  border-right: 1px solid #000; 
  padding-right: 1%;
  padding-left: 1%;
  width: 276px;
}

.ul-header{
font-weight: bold;
}

ul{
  list-style: none; 
}

.ent-txt{
  font-weight: bold;
  color: #14552a;
}

.resource-form {
    opacity: .9;
    padding: 10px 50px 25px 40px;
    border-radius: 1%;
    border: 1px solid #dddddd;
}

.table-header{
  margin-top: 150px;
  margin-left: 38%;
}

.resource-table {
  margin: 100px auto;
  opacity: .9;
  padding: 25px 45px 25px 40px;
  border-radius: 1%;
  width: 65%;
  border: 2px solid #dddddd;
}

.register-form {
  margin-top: 67px;
  padding: 1% 0px;
  width: 50%;
}


.register-form input {
  margin: 2% 0px;
  padding: 1% 0px
}

.register-form button {
  margin-top: 5%;
  border-radius: 1%;
}

.dash-form {
  width: 100%;
}

.login-form label,
.login-form input {
    display: block;
}

.login-form button,
.login-form label,
.login-form input {
    padding: 2px;
    font-size: medium;
}


.white-text {
  color: white;
  transition-duration: 0.1s;
}

.white-text:hover, .whtie-text:focus, .white-text:active .white-text:focus-visible, .white-text:focus-within {
  color: white !important;
}

body {
  font-family: poppins;
}

.grecaptcha-logo {
  display: none;
}

/* executive page */

.image-container {
  position: relative;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.grow {
  transition: all .4s ease-in-out;
}

.grow:hover {
  transform: scale(1.5)
}

.cursor-pointer {
  cursor:pointer;
}
